


/*! SMALL SCREENS  */

@media only screen and (max-width: 896px){

    #MyName .display-1 {
        font-family: "Rubik", sans-serif;
        font-size: xx-large;
    }

    #Position .h1 {
        font-weight: 100;
        font-size: large;
    }

    .sectionHeader {
        font-family: "Rubik", sans-serif;
        font-size: xx-large;
    }

    #RequestForm {
        position: absolute;
        background-color: white;
        padding: 2%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 3;
    }

    #UserFormWrapper .hidden {
        height: 0%;
        transition: ease-out all 1s;
    }

    #UserFormWrapper .visible {
        height: 80%;
        transition: all ease-in 1s;
        padding: 10px;
    }

    #Container .hidden {
        opacity: 0%;
    }

    #Container .visible {
        opacity: 100%;
    }

    #HeaderContent {
        padding-top: 10px;
        z-index: 3;
    }

    #AboutME {
        font-weight: 200;
        padding-left: 5%;
        padding-right: 5%;
    }
}


/*! LARGE SCREENS  */

@media only screen and (min-width: 897px){

    #MyName {
    font-family: "Rubik", sans-serif;
    }

    #Position .h1 {
    font-weight: 100;
}

    .sectionHeader {
        font-family: "Rubik", sans-serif;
    }

    #RequestForm {
    position: absolute;
    width: 33.3%;
    background-color: white;
    padding: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    z-index: 3;
    }

    #UserFormWrapper .hidden {
        height: 0%;
        transition: ease-out all 1s;
}

    #UserFormWrapper .visible {
    height: 50%;
    transition: all ease-in 1s;
}

#Container .hidden {
    opacity: 0%;
}

#Container .visible {
    opacity: 100%;
}

    #AboutME {
    font-weight: 200;
    padding-left: 15%;
    padding-right: 15%;
    }
}

/* Sets the body equal to beginning section of site. */
html,body{
    height: 100%;
    margin: 0px;
}

/* Sets background color for whole background. */
.fluidArea {
    background: linear-gradient( rgba(37, 4, 182, 0.911), rgba(90, 126, 247, 0.911));
    transition: 0.5s all ease-in;
}

.orangeFluid {
    background: linear-gradient(rgb(255, 19, 90), rgb(250, 187, 69));
    transition: 0.5s all ease-in;
}

/*% Contact Form */

.contactFormHeader {
    font-weight: 800;
}

#SubmitButton {
    /* margin-right: 20%;
    margin-left: 20%; */
    margin-bottom: 10px;
}

.DescriptionLabel {
    color: black;
}


/*% Form End  */

/* Sets attributes for header section. */
#Header {
    
    width: 100%;
    height: 100%;
    /* display: table; */
    color: white;
    margin-bottom: 0px;
}

#SiteHeaderContentWrapper .hidden {
    opacity: 0;
}

#SiteHeaderContentWrapper .visible {
    opacity: 100;
    transition: all ease-in 1.5s;
}

#HeaderContent {
    z-index: 3;
}

#SocialMediaIcons .fab {
    color: white;
}

#SocialMediaIcons i:hover {
    animation-name: socailMediaIcons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes socailMediaIcons {
    0% {}
    100% {
        font-size: 4em;
    }
}

#RequestInfoButton .btn:hover {
    animation-name: requestInfobutton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes requestInfobutton {
    0% {}
    100% {
        background-color: white;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.541);
        color: red;
    }
}

.navbar {
    background-color: rgba(37, 4, 182, 0.911);
}

.dropdown-item {
    font-weight: 200;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(37, 4, 182, 0.7);
}

#TransitionArea {
    height: 75px;
    width: 100%;
    background: linear-gradient(rgba(90, 126, 247, 0.911), rgb(255, 255, 255));
}

/* Content */

.sectionHeader {
    font-family: "Rubik", sans-serif;
}

/* SKILLS */

#Section1 .nonVisable {
    opacity: 0;
    transition: all 1s ease-in;
}

#Section1 .animateSectionHeader {
    opacity: 1;
    transition: all 1s ease-in;
}

.skillListHeader {
    font-weight: 900;
    font-size: larger;
}

.lists {
    font-weight: 100;
}

/* PROJECTS */

#Section2 .nonVisable {
    opacity: 0;
    transition: all 1s ease-in;
}

#Section2 .animateSectionHeader {
    opacity: 1;
    transition: all 1s ease-in;
}

.projectTitle {
    margin-top: 10%;
    font-family: 'Baloo Da 2', cursive;
    font-size: xx-large;
    color: rgb(37, 86, 248);
}
.projectD {
    font-weight: 100;
}

img #ScreenShots {
    display: inline-block;
}

#Description {
    margin-top: 10%;
}

#Projects .AppleLogoSVG {
    font-size: xx-small;
}

/* EXPERIENCE */

#Section3 .nonVisable {
    opacity: 0;
    transition: all 1s ease-in;
}

#Section3 .animateSectionHeader {
    opacity: 1;
    transition: all 1.5s ease-in;
}

#Experience {
    background-color: rgb(12, 81, 172);
    padding: 5%;
    border-radius: 10px;
    color: white;
}

.jobList .h3 {
     font-family: 'Baloo Da 2', cursive;
}

/* EDUCATION */

#Education {
    margin-top: 5%;
}

#Section4 .nonVisable {
    opacity: 0;
    transition: all 1s ease-in;
}

#Section4 .animateSectionHeader {
    opacity: 1;
    transition: all 1.5s ease-in;
}

/* FOOTER */ 

#FOOTER {
    background: linear-gradient(rgb(255, 255, 255), rgba(90, 126, 247, 0.911));
    height: 100px;
    margin-top: 100px;
}

#FOOTERCONTENT {
    height: 300px;
    background-color: rgba(90, 126, 247, 0.911);
}
